.detail-content {
    display: flex;
    margin: 20px;
    width: 80%;
}

.detail-item-container {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.detail-item + .detail-item {
    margin-left: 30px;
}

.nftDetailDiv .auction {
    padding: 50px;
}

.nft-detail {
    margin-right: 40px;
    width: 400px;
}

@media (max-width: 800px) {
   .detail-content {
        flex-direction: column;
   }
   .detail-item-container {
        flex-direction: column;
   }
   .detail-item + .detail-item {
        margin-left: 0px;
   }
   .nftDetailDiv .auction {
        padding: 20px;
    }
    .nft-detail {
        margin-right: 0px;
        margin-bottom: 20px;
        width: 100%;
    }

}