


.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    width: 80%;
    flex-wrap: wrap;    
}



@media (max-width: 800px) {
    .card-content {
        width: 96% !important;
    }

    .ant-card {
        min-width: none !important;
        max-width: none !important;
    }
}